In [1]:
%%html
<style>
    table {
        display: inline-block;
    }
    table td{
        font-size : 14px;
        text-align:left;
        border : 1px solid black;
    }
</style>

## 1. 두 수 a, b를 공백을 이용해 입력받아 튜플 형태로 반환해 봅시다(난이도 하)
### input = 1이상 100이하의 두 자연수 a, b
### output = (a, b)



|case| input|   output  |
|:----|------------|------------|
|case 1|5 4|(5,4)|
|case 2|100 50|(100,50)|
|case 3|2 100|(2,100)|

## 2. 정수 n을 입력받아 1에서부터 n까지의 원소를 가지는 리스트를 반환하는 프로그램을 작성해 봅시다.(난이도 하)
### input = 100이하의 정수 n
### output = [1,2, ... , n]



|case| input|   output  |
|:----|------------|------------|
|case 1|50|[1, 2, ... , 50]|
|case 2|1|[1]|
|case 3|0|[]|

## 3. 이름과 나이를 입력받아 딕셔너리 형태로 반환하는 프로그램을 작성해 봅시다.(난이도 하)
### input = 이름 나이
### output = {"name" :  "이름" , "age" : 나이} 형태의 딕셔너리



|case| input|   output  |
|:----|------------|------------|
|case 1|Kim 20|{"name":"Kim", "age":20}|
|case 2|Lee 33|{"name":"Lee", "age":33}|
|case 3|Park 25|{"name":"Park", "age":25}|

## 4. 이름과 주민등록번호를 입력받아 해당 사람의 이름과 성별을 딕셔너리 형태로 반환하는 프로그램을 작성해 봅시다(난이도 중)
### input = 이름과 길이 14의 주민등록번호 문자열(-포함)
### output = {"name" : 이름, "sex" : 성별(male/female)}



|case| input|   output  |
|:----|------------|------------|
|case 1|Lee 931111-1234567| {"name" : "Lee", "sex" : "male"}|
|case 2|Kim 901212-1154754| {"name" : "Kim", "sex" : "male"}|
|case 3|Park 951211-2014454| {"name" : "Park", "sex" : "female"}|

## 5. 정수 5개를 입력받아 중복을 제거한 리스트(집합)를 만든 후 반환하는 프로그램을 작성해 봅시다.(난이도 하)
### input = 길이 5 이하의 정수 리스트
### output = 중복이 제거된 리스트



|case| input|   output  |
|:----|------------|------------|
|case 1|10 10 5 4 7 3|{10, 5, 4, 7, 3}|
|case 2|1 2 3 0|{1, 2, 3, 0}|
|case 3|1 1 1 1|{1}|

## 6. 집합 set_A = {1, 2, 3, 4, 5} 를 생성하고, 집합 set_B의 원소 4개를 입력받아 두 집합의 합집합을 반환하는 프로그램을 작성해 봅시다.(난이도 하)
### input = 집합 set_B의 원소 4개
### output = set_A와 set_B의 합집합

|case| input|   output  |
|:----|------------|------------|
|case 1|5 6 7 8 9|{1, 2, 3, 4, 5, 6, 7, 8, 9}|
|case 2|1 2 3 4 5|{1, 2, 3, 4, 5}|
|case 3|6 7 8 9 10|{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}|

## 6. 집합 set_A = {1, 2, 3, 4, 5} 를 생성하고, 집합 set_B의 원소 4개를 입력받아 두 집합의 차집합(set_A-set_B)과 교집합의 원소의 수를 반환하는 프로그램을 작성해 봅시다.(난이도 중)
### input = 집합 set_B의 원소 4개
### output = (차집합의 원소의 수, 교집합의 원소의 수)

|case| input|   output  |
|:----|------------|------------|
|case 1|5 6 7 8 9|(4, 1)|
|case 2|1 2 3 4 5|(0, 5)|
|case 3|6 7 8 9 10|(5, 0)|

## 7. 정수 n을 입력받아 1부터 n까지의 2의 배수, 3의 배수의 집합을 각각 만든 후, 집합 자료형과 교집합 연산을 이용해 2의 배수이면서 3의 배수인 수(6의 배수)의 집합을 반환하는 프로그램을 작성해 봅시다.(난이도 중)
### input = 1000이하의 정수 n
### output = n이하의 모든 6의 배수를 원소로 가지는 집합

|case| input|   output  |
|:----|------------|------------|
|case 1|10|{6}|
|case 2|100|{6, 12, ... , 96}|
|case 3|5|{}|

## 8. 여행지 딕셔너리 {"Mountain":0, "Park":0, "Ocean":0}을 생성한 후, 여행지 투표 결과를 입력받아 {"여행지" : 득표수} 형태의 딕셔너리로 반환하는 프로그램을 작성해 봅시다.(난이도 중)
### input = 여행지 투표 목록
### output = 투표 결과 딕셔너리

|case| input|   output  |
|:----|------------|------------|
|case 1|Mountain Park Park Ocean|{"Mountain":1, "Park":2, "Ocean":1}|
|case 2|Mountain Park Ocean Mountain|{"Mountain":2, "Park":1, "Ocean":1}|
|case 3|Ocean|{"Mountain":0, "Park":0, "Ocean":1}|

## 9. 점심 메뉴를 다중으로 입력받아 투표 결과를 {"메뉴" : 득표수} 형태의 딕셔너리로 반환하는 프로그램을 작성해 봅시다.(난이도 중)
### input = 점심 메뉴 목록
### output = 투표 결과 딕셔너리

|case| input|   output  |
|:----|------------|------------|
|case 1|Ramen Steak Salad Ramen|{"Ramen":2, "Steak":1, "Salad":1}|
|case 2|Soup Potato|{"Soup":1, "Potato":1}|
|case 3|Hamburger Hamburger Hamburger|{"Hamburger":3}|

## 10. 점심 메뉴를 다중으로 입력받아 가장 많은 득표 결과를 얻은 메뉴를 반환하는 프로그램을 작성해 봅시다.(난이도 중)
### input = 점심 메뉴 목록
### output = 가장 많은 득표를 받은 메뉴

|case| input|   output  |
|:----|------------|------------|
|case 1|Ramen Steak Salad Ramen|"Ramen"|
|case 2|Soup Potato Soup|"Soup"|
|case 3|Hamburger Hamburger Hamburger|"Hamburger"|