## 1. 컴퓨터 내부에서 두 데이터는 같은 값을 가지고 있을까요? (Y/N)

In [6]:
a = 10.0
b = 10

##  2. c와 d라는 변수를 선언해서 a를 b로 나눈 몫과 나머지를 저장해봅시다.

In [7]:
a = 10
b = 3
c = 
d = 
(c,d)

(3, 1)

## 3. 문자열로 주어진 숫자 데이터가 있는 상황에서, 두 숫자를 더해서 출력하고싶다. 어떻게 해야 할까?

In [9]:
a = "100"
b = "50"
a+b #오답

'10050'

## 4. 문자열을 10번 반복하고 싶다. 어떻게 해야 할까?

In [24]:
a = "열 번 반복하고 싶은 문자열"

'열 번 반복하고 싶은 문자열열 번 반복하고 싶은 문자열열 번 반복하고 싶은 문자열열 번 반복하고 싶은 문자열열 번 반복하고 싶은 문자열열 번 반복하고 싶은 문자열열 번 반복하고 싶은 문자열열 번 반복하고 싶은 문자열열 번 반복하고 싶은 문자열열 번 반복하고 싶은 문자열'

# 5. 주민등록번호를 이용하여 당사자의 나이와 성별을 파악하려고 한다.
## 5-1. 다음과 같은 주민등록번호가 주어졌을 때, 생년 부분만 잘라서 반환해 보자.

In [15]:
id_number = "950810-1201220"
year = 
year

'95'

## 5-2. 생년이 98년생 이상인지(98보다 작은지) 확인하자

In [18]:
id_number = "950810-1201220"
year = id_number[0:2]
year < 98 #오답

True

## 5-3. 성별 코드가 1인지 확인하자(True가 출력이 되어야겠죠?)

In [22]:
id_number = "950810-1201220"
sex = 
sex==1 #오답

True

## 6. 다음과 같은 리스트에서, 왜 해당 결과가 나오는지 생각해 봅시다.(특히 마지막 항목)

In [26]:
a = [-1, 'hi', 10.3, 44]
(a[0], a[-1], a[-2], a[a[0]])

(-1, 44, 10.3, 44)

## 7. 다음과 같은 리스트에 있는 숫자 값만 모두 더하여 출력해봅시다.(인덱싱 이용)

In [27]:
a = ['hi', 1, 2, 'hello']

3

## 8. 다음과 같은 리스트에 정수형 3과 문자열 'ok' 를 추가해 봅시다.(append 이용)

In [28]:
a = [1,2]

a

[1, 2, 3, 'ok']